* {
    border: 2px solid red;

}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.flex-container {
    display: flex;
}

.container {
    flex-direction: column;
}

.header-container {
    flex-direction: column;
    background: #1F2937;
    color: white;
    gap: 5px;
}

.header-top-line {
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px;
    margin-top: 5px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-links {
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    justify-content: space-evenly;
    align-items: center;
    margin: 28px 0px;
}

.header-content-block {
    flex-direction: column;
    width: 300px;
}

.sign-up-button {
    background: #3882F6;
    color: white;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 8px;
    height: 30px;
    width: 100px;
}

.header-title {
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
}

.mpc-image {
    height: 200px;
    width: auto;
}

.body-container {
    flex-direction: column;
    justify-content: center;
  
}

.body-section-2 {
    background: #E5E7EB;
    padding: 64px 128px;
    justify-content: center;
    align-items: center;
}

.footer-container {
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
}